<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Primera serie de reglas de reescritura -->
        <rule name="Rewrite to public" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="public/" />
        </rule>
        <rule name="Rewrite all to public" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- Segunda serie de reglas de reescritura -->
        <rule name="Rewrite to index.php" stopProcessing="true">
          <match url="^.*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
        <rule name="Pass HTTP Authorization">
          <match url=".*" />
          <action type="None" />
          <serverVariables>
            <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
